@font-face {
  font-family: WorksSans;
  src: url("/frontend/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html {
  /* Define a base de cálculo para a unidade 'rem' (1rem = 10px) */
  font-size: 62.5%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  
}

#background-1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#retangulo-azul-1 {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 42.5rem;
  height: 65rem;
  background: linear-gradient(to bottom, #0a2449 50%, #1c4a8c);
  border-radius: 0.5rem 0 0 0.5rem;
}

#background-2-branco {
  display: flex;
  flex-direction: column;
  width: 90rem;
  height: 65rem;
  background: rgb(255, 255, 255);
  border-radius: 0 0.5rem 0.5rem 0;
}

#container-nome,
#container-cpf,
#container-telefone,
#container-email,
#container-cnpj,
#container-cartao-cnpj,
#container-contrato-social,
#container-cnh {
  display: flex;
  flex-direction: column;
}

#label-nome,
#label-cpf,
#label-tel,
#label-email,
#label-cnpj,
#label-cartao-cnpj,
#label-contrato-social,
#label-cnh,
#label-rua,
#label-bairro,
#label-numero,
#label-cidade,
#label-estado,
#label-cep,
#label-responsavel,
#label-tipo-certificado,
#label-data-video {
  font-family: "WorksSans";
  font-size: 1.5rem;
}



#input-cnpj { 
  width: 20rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-nome { 
  width: 40rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-email { 
  width: 30rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-tel { 
  width: 15rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-cpf { 
  width: 15rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-cidade  { 
  width: 40rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-cep {
  width: 15rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-rua {  
  width: 40rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-numero {
  width: 7rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}



#input-bairro { 
  width: 25rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-responsavel { 
  width: 35rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}



#select-estado { 
  width: 5rem;
  height: 3.3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}



#form-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#input-cartao-cnpj,
#input-contrato-social,
#input-cnh {
  margin-top: 0.5rem;
}

#btn-enviar1 {
  width: 50rem;
  height: 3.5rem;
  align-self: center;
  margin-top: 2rem;
  background: #0e3264;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}

/* #container-endereco {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
} */

#container-rua, #container-bairro, #container-numero, 
#container-cidade, #container-estado, #container-cep,
#container-responsavel {
  display: flex;
  flex-direction: column;
}

#container-nome-cpf {
  display: flex;
  gap: 2rem;
}

#container-email-cnh {
  display: flex;
  gap: 5rem;
}

#container-cep-rua-numero {
  display: flex;
  gap: 3rem;
}

#container-bairro-cidade-uf {
display: flex;
gap: 3rem;

}

#container-cnpj-responsavel {
  display: flex;
  gap: 5rem;
}

#background-2-branco {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-cartao-cnpj {
  border: solid 0.15rem black;
  border-radius: 0.5rem;
  width: 35rem;
  height: 6rem;
  
}

#container-contrato-social {
  border: solid 0.15rem black;
  border-radius: 0.5rem;
  width: 38rem;
  height: 6rem;
}

#container-cartaocnpj-contratosocial {
  display: flex;
  gap: 5rem;
}

#container-tipo-certificado {
  display: flex;
  flex-direction: column;
}

#container-data-video {
  display: flex;
  flex-direction: column;
}

#input-tipo-certificado {
 width: 30rem;
  height: 3.3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem; 
}

#input-data-video {
  width: 35rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#container-tipo-data {
  display: flex;
  gap: 5rem;
}

#label-contrato-social, #input-contrato-social,
#label-cartao-cnpj, #input-cartao-cnpj  {
  padding-left: 1rem;
}

#input-data-video {
  width: 12rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
  font-family: "WorksSans";
  font-size: 1.5rem;
}

#select-hora {
 width: 12rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
  font-family: "WorksSans";
  font-size: 1.5rem; 
}

#container-data-hora {
  display: flex;
  justify-content: space-between;
}

/*------------------------ LADO AZUL ----------*/

#img-logo {

  width: 30rem;
}

#container-azul-texto2 {
  color: white;
  font-family: "WorksSans";
  width: 35rem;
  font-size: 1.5rem;
}

#container-azul-h2-text1 {

  color: white;
  font-family: "WorksSans";
}

#container-logo-tex1-text2 {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

  #text-duvidas {
    color: white;
    font-size: 1.5rem;
    font-family: "WorksSans";
  }

  #img-whatsapp {
    width: 3rem;
  }

  #tel-whatsapp {
    
  }

  #container-logowhatsapp-tel {
    display: flex;
    align-items: center;
    
  }

  #ancora-whatsapp {    
    text-decoration: none; 
    color: white;
    font-size: 2rem;
    font-family: "WorksSans";
    margin-left: 1rem;   
  }

  #container-textduvidas-whatsapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


input::placeholder {
  padding-left: 1rem;
}