@font-face {
  font-family: WorksSans;
  src: url("/frontend/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html {
  /* Define a base de cálculo para a unidade 'rem' (1rem = 10px) */
  font-size: 62.5%;
}

body {
  background: black;
}

#background-1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#retangulo-azul-1 {
  width: 42.5rem;
  height: 65rem;
  background: linear-gradient(to top, #0a2449, #1c4a8c);
  border-radius: 0.5rem 0 0 0.5rem;
}

#background-2-branco {
  display: flex;
  flex-direction: column;
  width: 90rem;
  height: 65rem;
  background: rgb(255, 255, 255);
  border-radius: 0 0.5rem 0.5rem 0;
}

#container-nome,
#container-cpf,
#container-telefone,
#container-email,
#container-cnpj,
#container-cartao-cnpj,
#container-contrato-social,
#container-cnh {
  display: flex;
  flex-direction: column;
}

#label-nome,
#label-cpf,
#label-tel,
#label-email,
#label-cnpj,
#label-cartao-cnpj,
#label-contrato-social,
#label-cnh,
#label-rua,
#label-bairro,
#label-numero,
#label-cidade,
#label-estado,
#label-cep {
  font-family: "WorksSans";
  font-size: 1.5rem;
}

#input-nome,
#input-cpf,
#input-tel,
#input-email,
#input-cnpj,
#input-rua,
#input-cidade


/* #input-cartao-cnpj,
#input-contrato-social,
#input-cnh*/ { 
  width: 50rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-bairro { 
  width: 25rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-numero {
width: 8rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;

}

#select-estado { 
  width: 5rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#input-cep {
width: 15rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;

}

#form-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#input-cartao-cnpj,
#input-contrato-social,
#input-cnh {
  margin-top: 0.5rem;
}

#btn-enviar1 {
  width: 40rem;
}

#container-endereco {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
}

#container-rua, #container-numero, #container-bairro, 
#container-cidade, #container-estado, #container-cep {
  display: flex;
  flex-direction: column;
}

/* #container-bairro {
  width: 25rem;
} */

/* Regra para o primeiro elemento (20%)
#container-rua {
  flex-basis: calc(60% - 7px);
}

Regra para o segundo elemento (50%) 
#container-numero {
  flex-basis: calc(15% - 7px);
}

 Regra para o terceiro elemento (30%) 
#container-bairro {
  flex-basis: calc(25% - 7px);
} */


/* #label-cartao-cnpj,
#label-contrato-social,
#label-cnh {

text-decoration:underline black;

} */