/* Tamanho de telas:

Celular: 360 x 667
tablet: 768 x 1024 
Notebook: 1024 x 800
Desktop: 1920 x 1080 */

@font-face {
  font-family: WorksSans;
  src: url("/frontend/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/frontend/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html {
  /* Define a base de cálculo para a unidade 'rem' (1rem = 10px) */
  font-size: 62.5%;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/* ------------- Header ------------ */

#container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0b274e;
  width: 100%;
}

#img-header-logo {
  width: 55rem;
}

#h1-header {
  color: white;
  font-family: "Roboto";
  font-size: 4rem;
  letter-spacing: 0.15rem;
}

#container-header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

/* --------- Media Query ---------- */

@media screen and (max-width: 650px) {
  #container-section {
    width: 100%;
    height: 10%;
  }

  #container-button-opcao {
    display: flex;
    gap: 3.5rem;
    width: 50%;
  }

  #opcao-cnpj {
    display: flex;
  }

  #descricao-h2-button-cnpj {
    display: flex;
  }

  #descricao-button-cnpj {
    width: 50%;
  }

  #descricao-h1-button-cnpj {
    display: flex;
    width: 15rem;
    font-size: 8px;
  }

  #opcao-cpf {
    display: flex;
    width: ;
  }

  /*-----Header Midea Query -------*/

  #container-header {
    /* width: 100%;  */
  }

  #img-header-logo {
    width: 32rem;
  }

  #h1-header {
    font-size: 2em;
    margin-bottom: 1.5em;
  }

  #titulo-principal {
    font-size: 2em;
    letter-spacing: 0.15rem;
  }
}

/*----------------- Final Media Query ------------*/

/* ------------- Fim Header ------------ */
#container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

#titulo-principal {
  display: flex;
  font-size: 4rem;
  margin-bottom: 6rem;
}

#container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80em;
  padding: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: white;
  gap: 4rem;
  box-sizing: border-box;
}

#section-titulo-1 {
  display: flex;
  font-size: 3rem;
  margin: 0;
}

.oculto {
  display: none !important;
}

#opcao-cnpj {
  width: 8em;
  height: 3em;
  /* flex-grow: 0; */
  border: none;
  border-radius: 0.5rem;
  font-size: 3em;
  font-weight: 700;
  background-color: #0e3264;
  color: white;
  /* padding: 2rem; */
}

#descricao-button-cnpj {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  /* padding: 1.5rem;
  box-sizing: border-box; */
}

#descricao-h1-button-cnpj {
  font-size: 1.7rem;
  margin: 0;
  letter-spacing: 0.5px;
}

#descricao-h2-button-cnpj {
  display: flex;
  font-size: 3rem;
  margin: 0;
}

#descricao-button-cpf {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  /* padding: 1.5rem;
  box-sizing: border-box; */
}

#descricao-h1-button-cpf {
  font-size: 1.7rem;
  margin: 0;
  letter-spacing: 0.5px;
}

#descricao-h2-button-cpf {
  font-size: 3rem;
  margin: 0;
}

#opcao-cnpj:hover {
  background-color: #154c99;
}

/*---------------e-CPF-----------------*/

#opcao-cpf {
  width: 8em;
  height: 3em;
  border-radius: 0.5rem;
  font-size: 3em;
  font-weight: 700;
  background-color: #0e3264;
  color: white;
  padding: 0;
}

#opcao-cpf:hover {
  background-color: #154c99;
}

.container-button-opcao {
  display: flex;
  gap: 3.5rem;
}

#section-cpf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 70rem;
  padding: 5rem;
  margin-top: 5rem;
  background-color: rgb(228, 227, 227);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#container-dados-cpf {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#container-model-cert {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#select-model-cert {
  width: 90%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 0 1rem;
}

#container-datavideo-cpf {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: none;
  padding: 0;
  margin: 0;
}

#input-datavideo-cpf {
  width: 12rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0.5rem;
  box-sizing: border-box;
}

#container-modelo-hora-cpf {
  display: flex;
}

#container-label-horas-cpf {
  display: flex;
  padding-left: 3rem;
  justify-content: center;
  align-items: center;
}

#select-hora-cpf {
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
  box-sizing: border-box;
}

#containerecpf-nome-cpf {
  display: flex;
  width: 100%;
  gap: 5em;
}

#containerecpf-tel-email {
  display: flex;
  width: 100%;
  gap: 5em;
}

#container-telefone-ecpf {
  display: flex;
  width: 30%;
  flex-direction: column;
}

#input-tel-ecpf {
  width: 13rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 0 1rem;
}

#input-email-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 0 1rem;
}

#containerecpf-cep-rua-numero-ecpf {
  display: flex;
  gap: 1em;
}

#containerecpf-cep {
  display: flex;
  flex-direction: column;
  width: 15%;
}

#input-cep-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
  box-sizing: border-box;
}

#container-rua-ecpf {
  display: flex;
  flex-direction: column;
  width: 72%;
}

#input-rua-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
  box-sizing: border-box;
}

#container-numero-ecpf {
  display: flex;
  flex-direction: column;
  width: 15%;
}

#input-numero-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
  box-sizing: border-box;
}

#containerecpf-bairro-cidade-uf {
  display: flex;
  gap: 3rem;
}

#containerecpf-bairro,
#containerecpf-cidade,
#containerecpf-estado {
  display: flex;
  flex-direction: column;
}

#inputecpf-bairro {
  width: 20rem;
  height: 3.3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

#inputecpf-cidade {
  width: 25rem;
  height: 3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

#select-estado {
  width: 5rem;
  height: 3.3rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
}

#container-cnh-ecpf {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#label-nome-ecpf,
#label-cpf-ecpf,
#label-tel-ecpf,
#label-email-ecpf,
#label-cep-ecpf,
#label-rua,
#label-numero,
#label-cnh-ecpf,
#label-bairro,
#label-cidade,
#label-estado,
#label-model-cert,
#label-datavideo-cpf,
#label-hora-cpf {
  font-family: "Roboto";
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}

#input-nome-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 0 1rem;
}

#input-cpf-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 0 1rem;
}

#btn-enviar2 {
  display: block;
  width: 50rem;
  height: 4rem;
  align-self: center;
  margin-top: 5rem;
  background: #0e3264;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
}

#section-cpf input::placeholder {
  font-style: italic;
}

/*---------------Final e-CPF-----------------*/

#section-cnpj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 70rem;
  padding: 5rem;
  margin-top: 5rem;
  background-color: rgb(228, 227, 227);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#container-dados-cnpj {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#label-cnpj,
#label-responsavel,
#label-tel,
#label-email,
#label-cnh,
#label-cartao-cnpj,
#label-contrato-social,
#label-hora,
#label-data-video,
#label-model-certcnpj {
  font-family: "Roboto";
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}

#container-model-certcnpj {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#select-model-certcnpj {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 0 1rem;
}

#container-data-hora {
  display: flex;
}

#container-cnpj,
#container-telefone {
  display: flex;
  flex-direction: column;
}

#container-cnh-cnpj {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#container-cartao-cnpj {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#container-contrato-social {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#input-cnpj {
  width: 15rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding-left: 1rem;
}

#container-cnpj-nome {
  display: flex;
}

#input-responsavel {
  width: 35rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
}

#input-tel {
  width: 15rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
}

#input-email {
  width: 30rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
}

#container-tel-email {
  display: flex;
}

#container-email {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

#container-responsavel {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

/* ------- Retira o seletor de aumentar e diminuir do input -------- */

.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------ Final - Retira o seletor de aumentar e diminuir do input -------- */

#section-cnpj input::placeholder {
  font-style: italic;
}

#btn-enviar1 {
  display: block;
  width: 50rem;
  height: 4rem;
  align-self: center;
  margin-top: 5rem;
  background: #0e3264;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
}

#container-footer {
  background-color: #333;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

#titulo1-section-cnpj {
  margin-bottom: 3rem;
}

#container-data-hora-cpf {
  display: flex;
}

#input-data-video {
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
}

#select-hora {
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
}

#container-data-video {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

#container-label-horas {
  display: flex;
  width: 15rem;
  padding-left: 3rem;
  align-items: center;
}

/*-------- Rodapé --------------------*/

#container-logo-tex1-text2 {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

#text-duvidas {
  width: 25rem;
  color: white;
  font-size: 1.5rem;
  font-family: "Roboto";
  text-align: center;
  margin: 0;
}

#img-whatsapp {
  width: 3rem;
  padding: 0.5rem;
}

#container-logowhatsapp-tel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ancora-whatsapp-sp {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-family: "Roboto";
  border: solid 0.15rem rgb(75, 75, 75);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 14rem;
  text-align: center;
  background: #0e3264;
  align-items: center;
}

#ancora-whatsapp-es {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-family: "Roboto";
  border: solid 0.15rem rgb(75, 75, 75);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 14rem;
  text-align: center;
  background: #0e3264;
  justify-content: center;
  align-items: center;
}

#ancora-whatsapp-sp:hover {
  background: radial-gradient(#1851a1, #203555);
}

#ancora-whatsapp-es:hover {
  background: radial-gradient(#1851a1, #203555);
}

#ancoras-whatsapp {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
}

#container-textduvidas-whatsapp {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container-cidade-tel-es,
#container-cidade-tel-sp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}

#descricao-cidade-tel-es,
#descricao-cidade-tel-sp {
  font-weight: 400;
  color: white;
  margin: 0;
}

#container-text-duvidas {
  display: flex;
  margin-bottom: 1rem;
}
