@font-face {
  font-family: WorksSans;
  src: url("/frontend/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/frontend/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html {
  /* Define a base de cálculo para a unidade 'rem' (1rem = 10px) */
  font-size: 62.5%;
  font-family: "Roboto";
}

body {
  background-color: #f4f4f4;
}

#container-header {
  background: #0e3264;
  width: 100%;
  height: 30dvh;
}

#img-header-logo {
  width: 50rem;
}

#h1-header {
  color: white;
  font-family: "Roboto";
  font-size: 3rem;
  letter-spacing: 0.15rem;
}

#container-header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

#container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110rem;
  height: 25rem;
  border-radius: 0.5rem;
  margin-top: 10rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  gap: 2rem;
}

#container-section-titulo {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 2.5rem;
}

.oculto {
  display: none !important;
}

#opcao-cnpj {
  width: 34rem;
  /* height: 4rem; */
  border: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #0e3264;
  color: white;
  padding: 2rem;
}

#opcao-cnpj:hover {
  background-color: #154c99;
}

/*---------------e-CPF-----------------*/

#opcao-cpf {
  width: 34rem;
  /* height: 4rem; */
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #0e3264;
  color: white;
  padding: 2rem;
}

#opcao-cpf:hover {
  background-color: #154c99;
}

.container-button-opcao {
  display: flex;
  gap: 3rem;
}

#section-cpf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
  width: 75rem;
  padding: 5rem;
  margin-top: 5rem;
  background-color: rgb(228, 227, 227);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#container-dados-cpf {
  display: flex;
  width: 95%;
  flex-direction: column;
  gap: 2.5rem;
}

#containerecpf-nome-cpf {
  display: flex;
  width: 100%;
  gap: 5em;
}

#container-nome-ecpf {
  display: flex;
  width: 70%;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#container-cpf-ecpf {
  display: flex;
  width: 30%;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#containerecpf-tel-email {
  display: flex;
  width: 100%;
  gap: 5em;
}

#container-telefone-ecpf {
  display: flex;
  width: 30%;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#input-tel-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 0 1rem;
}

#container-email-ecpf {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
  width: 70%;
}

#input-email-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 0 1rem;
}

#containerecpf-cep-rua-numero-ecpf {
  display: flex;
  width: 100%;
  flex-direction: row;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
  gap: 1em;
}

#containerecpf-cep {
  display: flex;
  flex-direction: column;
  width: 15%;
}

#input-cep-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
  box-sizing: border-box;
}

#container-rua-ecpf {
  display: flex;
  flex-direction: column;
  width: 72%;
}

#input-rua-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
  box-sizing: border-box;
}

#container-numero-ecpf {
  display: flex;
  flex-direction: column;
  width: 15%;
}

#input-numero-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
  box-sizing: border-box;
}

#container-cnh-ecpf {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#label-nome-ecpf,
#label-cpf-ecpf,
#label-tel-ecpf,
#label-email-ecpf,
#label-cep-ecpf,
#label-rua,
#label-numero,
#label-cnh-ecpf {
  font-family: "Roboto";
  font-size: 1.5rem;
}

#input-nome-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 0 1rem;
}

#input-cpf-ecpf {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  box-sizing: border-box;
  padding: 0 1rem;
}

/*---------------Final e-CPF-----------------*/

#section-cnpj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 70rem;
  padding: 5rem;
  margin-top: 5rem;
  background-color: rgb(228, 227, 227);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#container-dados-cnpj {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#label-cnpj,
#label-responsavel,
#label-tel,
#label-email,
#label-cnh,
#label-cartao-cnpj,
#label-contrato-social,
#label-hora,
#label-data-video {
  font-family: "Roboto";
  font-size: 1.5rem;
}

#container-cnpj,
#container-telefone {
  display: flex;
  flex-direction: column;
}

#container-cnh-cnpj {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#container-cartao-cnpj {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#container-contrato-social {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

#container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-cnpj {
  width: 15rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding-left: 1rem;
}

#container-cnpj-nome {
  display: flex;
}

#input-responsavel {
  width: 35rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
}

#input-tel {
  width: 15rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
}

#input-email {
  width: 30rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
}

#container-tel-email {
  display: flex;
}

#container-email {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

#container-responsavel {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

/* ------- Retira o seletor de aumentar e diminuir do input -------- */

.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------ Final - Retira o seletor de aumentar e diminuir do input -------- */

#section-cnpj input::placeholder {
  font-style: italic;
}

#btn-enviar1 {
  width: 50rem;
  height: 4rem;
  align-self: center;
  margin-top: 5rem;
  background: #0e3264;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}

#container-footer {
  background-color: #333;
  width: 100%;
  height: 20dvh;
  margin-top: 20rem;
}

#titulo1-section-cnpj {
  margin-bottom: 3rem;
}

#container-data-hora {
  display: flex;
}

#input-data-video {
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
}

#select-hora {
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(119, 119, 119);
  padding: 0 1rem;
}

#container-label-horas {
  padding-left: 3rem;
}

/*-------- Rodapé --------------------*/

#img-logo {
  width: 30rem;
}

#container-logo-tex1-text2 {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

#text-duvidas {
  width: 25rem;
  color: white;
  font-size: 1.5rem;
  font-family: "WorksSans";
  text-align: center;
}

#img-whatsapp {
  width: 4rem;
}

#container-logowhatsapp-tel {
  display: flex;
}

#ancora-whatsapp-sp {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: "WorksSans";
  margin-left: 1rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 16rem;
  height: 2.5rem;
  text-align: center;
  background: #0e3264;
}

#ancora-whatsapp-sp:hover {
  background: radial-gradient(#1851a1, #203555);
}

#ancora-whatsapp-es {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: "WorksSans";
  margin-left: 1rem;
  border: solid 0.15rem black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 16rem;
  height: 2.5rem;
  text-align: center;
  background: #0e3264;
}

#ancora-whatsapp-es:hover {
  background: radial-gradient(#1851a1, #203555);
}

#ancoras-whatsapp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#container-textduvidas-whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
