@font-face {
  font-family: "Roboto";
  src: url("/frontend/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html {
  /* Define a base de cálculo para a unidade 'rem' (1rem = 10px) */
  font-size: 62.5%;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100vw;
  height: 100vh;
}

#container1 {
  display: flex;
  border: 1px solid black;
  width: 50%;
  height: 50%;
  background-color: aqua;
}
